# Data Science Tools and Ecosystem

In this notebool, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
   <p> 1. Pyhton
   <p> 2. R
   <p> 3. SQL
   <p> 4. JavaScript
   <p> 5. Julia
   <p> 6. C++

Some of the commonly used libraries used by Data Scientists include:
   <p> 1. Pandas
   <p> 2. Matplotlib
   <p> 3. Seaborn
   <p> 4. Plotly
   <p> 5. Scikit-learn
   <p> 6. TensorFlow

| Data Science Tools |
|:--------:|
|  Jupyter Notebook  |
|  JupyterLab  |
|  R Studio  |

### Below are a few examples of evaluating arithemetic expression in Python

In [2]:
(3*4)+5 #This a simple arithemethic expression to multiply then add integers

17

In [3]:
#This will convert 3200minutes to hours by diving by 60

time_min = 200
time_hrs = 200/60

print (time_hrs,"Hrs")

3.3333333333333335 Hrs

<b>Objectives:</b>
    <p>- Languages of Data Science
    <p>- Libraries of Data Science
    <p>- Data Science Tools
    <p>- Arithmethic expression in Python
    <p>- Using Markdowns in Jupyther Notebook

## Author
<p> Ayomide Akindahunsi